.section-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: $sans-serif;
  border-bottom: 1px solid gray;
}

.section-links > li:hover {
  background-color: #f7f7f5;
}
.section-links .link:hover {
  text-decoration: underline;
  background-color: transparent;
}

.section-links li {
  margin-bottom: 10px;
  margin-top: 10px;
}

.section-links .link {
  text-transform: uppercase;
}
