<div class="masthead">
  
  <div class="language-nav">
    <ul>
      <li><a href="#">CSS</a> </li>
      <li><a href="#">HTML</a> </li>
      <li><a href="#">Javascript</a></li>
      <li><a href="#">Ruby</a></li>
    </ul>
  </div>

  <img src="assets/AA_Times_Logo.png" class="logo">
  
  <ul class="masthead-links">
    <li><a href="#">Tuesday, October 18, 2016</a></li>
    <li class="link"><a href="#">Today’s Paper</a></li>
    <li class="link"><a href="#">Video</a></li>
    <li class="gray-hover"><a href="#">77°F</a></li>
    <li class="gray-hover"><a href="#">AAO <span>+100%</span></a></li>
  </ul>

</div>